dtd_es1.dtd

<!ELEMENT TEI (header, facsimile?, text+) >
<!--l'elemento radice TEI ha 3 figli: header (obbligatorio una occorrenza), facsimile (opzionale una occorrenza), text (obbligatorio almeno una occorrenza)-->
<!ELEMENT header (#PCDATA) > 
<!ELEMENT facsimile (#PCDATA) > 
<!ELEMENT text (#PCDATA) > 
<!-- gli elementi header, facsimile e text hanno tutti un content model testuale-->
